*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: normal;
    text-align: center;
}
.error{
    color: red;
}

/* body */

body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; 
}

/* header style */
header{
    width: 100%;
    box-shadow: 5px 1px 12px blue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;

}
.header-div{
    display: flex;
    padding-left: 50px;
    align-items: center;
    color: red;
    width: 100%;
    height: 120px;

}

/* login */

/* main */
main{
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding-top: 120px;
}
.container{
    min-width: 100%;
}
h1.registration-title,
h1.dashboard-title,
h2.dashboard-title,
h1.login-title {
    margin-top: 80px;
    color: #134077;
    text-align: center;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%; /* 31.84px */
    /* margin: 0px auto 25px; */
     
}
.reset-form,
.success-form,
.registration-form,
.event-creation-form,
.login-form {
    width: 662px;
    height: 434px;
    background-color: #fff;
    margin: 50px auto;
    padding: 50px 25px;
    border-radius: 19px;
    border: 1px solid #134077;
    background: #FFF;
}
.password-box{
    display: flex;
    align-items: end;
 
}
#togglePassword:hover,
#toggleNewPassword:hover,
#toggleRepeatPassword:hover{
    cursor: pointer;
}
.login-input {
    font-size: 15px;
    border-style: hidden;
    height: 25px;
    width: calc(100% - 23px);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 99.5%; /* 19.9px */
}
.input-box{

    border: 1px solid #ccc;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    padding-bottom: 5px;
    margin-top: 30px;
}
.label{
    color: #231F20;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%; /* 12.935px */
}
.login-input-box{
    margin-bottom: 25px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    border: none;
    border-radius: 11px;
    background: #0057FF;
    color: #fff;
    width: 100%;
    height: 59px;
    font-size: 16px;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%; /* 19.9px */
    margin: auto;
    cursor: pointer;
}
.input-button-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.link {
    color: #2D224C;
    font-size: 13px;
    font-family: DM Sans;
    font-weight: 400;
    font-style: normal;
    line-height: 99.5%; /* 12.935px */
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #2D224C;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%;
}


/* dashboard */
h1.dashboard-title{
   margin-top: 0px;
}
#events-container{
    display: flex;
    justify-content: space-between;
    align-content: left; 
    flex-wrap: wrap;
    width: 70%;
    margin: 50px auto;
    gap: 25px;
    /* overflow-y: scroll;
    height: 600px; */
}

#no-events-title{
    margin: auto;
}

.event-card{
    word-break: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 300px;
    max-height: 350px;
    border-radius: 19px;
    border: 1px solid #134077;
    background: #FFF;
    padding: 25px;
}
.event-card h3{
    color: #231F20;
    text-align: center;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%; /* 35.82px */
}
.bottom-card-container{
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 5px;
}
.event-card span{
    color: #CCC;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 99.5%; /* 19.9px */
}

.event-card button{
    width: 100%;
    min-height: 50px;
    border: none;
    border-radius: 11px;
    background: #0057FF;
    color: white;
}

/* Adding some basic styling to button */ 
 
.btn,
.login-button,
.input-login-button{
    text-decoration: none; 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    transition: 0.2s all; 
}


.btn { 
    border: none; 
    padding: 12px 40px; 
    font-family: DM Sans;
    font-size: 20px; 
    background: #0057FF;
    color: #fff; 
    border-radius:11px;

} 
/* Adding transformation when the button is active */ 
.login-button:active,
.input-login-button:active,
.btn:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
} 

#reset_container,
#creation_container{
    text-align: center;
    position: sticky;
    top: 20px;
    width: 14%;
}

#reset_form{
    margin-bottom: 20px;
}
#creation_button,
.logout-interaction{

    font-size: 30px;
}

/* registration */

.registration-form{
    height: 654px;
}

.success-form
{
    height: 150px;
}


/* admin dashboard */
h2.dashboard-title{
    font-size: 25px;
}

h3.dashboard-title{
    font-size: 20px;
}

.buttons-container{
    display: flex;
    gap: 5%;
    width: 100%;
}
.crud-button{
    font-size: 20px;
    cursor: pointer;
}
div.buttons-container button.delete{
    background: red;
    
}

div.buttons-container form{
    width: 100%;
}

/* reset password form  */
.reset-form{
    height: 425px;
    padding: 20px;
}

#pswd-change-button{
    margin-top: 40px;
}

/* creation form */

.event-creation-form{
    height: 520px;
}